.drag-and-drop {
    width: 100%;
    height: 100%;
}
.drag-and-drop__field {
    width: 100%;
    height: 100%;
    position: relative;
    background-image:
        linear-gradient(to right, rgba(100, 130, 139, .5) 1px, transparent 1px),
        linear-gradient(to bottom, rgb(100, 130, 139, .5) 1px, transparent 1px);
    background-size: 80px 80px;
    background-position: center center;
}
.drag-and-drop__draggable {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(61, 103, 116);
    color: #fff;
    border-radius: 5px;
    position: absolute;
    cursor: pointer;
    user-select: none;
}