* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --main-color: #e5effc;
  --main-padding: .5rem;
}
a {
  text-decoration: none;
  color: inherit;
}
/*  */
.container {
  width: min(1200px, 100%);
  margin: auto;
}
.page {
  display: grid;
  grid-template-rows: 80px 1fr 80px;
  height: 100vh;
}
.header, .footer {
  display: flex;
  align-items: center;
  background-color: var(--main-color);
  height: 80px;
  font-size: 1.5rem;
}
.header {
  border-bottom: 1px solid #dde0e3;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, .2);  
}
.header__title {
  text-transform: capitalize;
}
.main {
  background-color: rgb(240, 242, 245);
}
.main__inner-container {
  height: 100%;
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 1rem;
  padding: var(--main-padding);
}
.nav {
  border: 1px solid #b4bfcedc;
  border-radius: .5rem;
  padding: var(--main-padding);
}
.nav__title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #909baadc;
}
.nav__menu {
  list-style-type: none;
}
.nav__element {
  padding-block: .2rem;
}
.view {
  padding: var(--main-padding);
  background-color: var(--main-color);
  border-radius: .5rem;
}
.active {
  text-decoration: underline;
}