.dashboard {
    padding: 1rem;
    min-height: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
    gap: 1rem;
    background-color: #4591c4;
    border-radius: .5rem;
}

.dashboard__title {
    font-size: 2rem;
    color: #e5effc;
}
.dashboard__group-title {
    font-size: 1rem;
    margin-bottom: .5rem;
}
.dashboard__in-schedule,
.dashboard__in-process,
.dashboard__done {
    grid-row-start: 2;
    background-color: #e5effc;
    border-radius: .5rem;
    padding: 0.5rem;
}
.dashboard__list {
    list-style-type: none;
}
.dashboard__element {
    padding: 1rem .5rem;
    margin-bottom: .5rem;
    cursor: pointer;
    border-radius: .5rem;
    background-color: #4591c4;
    color: #e5effc;
    transition: transform .2s,
                box-shadow .4s;
}
@media (hover:hover) {
    .dashboard__element:hover {
        transform: rotate(2deg);
        box-shadow: 5px 5px 10px #8d8d8d;
    }
}
.dashboard__element_in-process {
    background-color: #edf04c;
    color: #4591c4;
}
.dashboard__element_done {
    background-color: #3cb846;
}